.a{
    background-color: pink;
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b{
    background-color: aqua;
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100px);
}
.c{
    background-color: red;
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50px,20px);
}